@media (min-width: 768px)
{
    .editor
    {
        overflow: hidden;
    }

    .position-md-absolute
    {
        position: absolute !important;
    }

    .top-md-0
    {
        top: 0 !important;
    }

    .mb-md-0
    {
        margin-bottom: 0!important;
    }

    .m-md-3
    {
        margin: 1rem!important;
    }
}